<header id="header">
    <nav class="navbar fixed-top navbar-dark bg-primary justify-content-end">
    <a class="navbar-brand" href="/posts">最新のツイート</a>
    </nav>
</header>

<main id='posts-edit'>
    <% if @post.errors.present? %>
        <ul id='errors.present?'>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <%= form_for(@post) do |f| %>
        <div class='form-group'>
            <%= f.text_area :content, class: 'form-controll' %>
        </div>
        <%= f.submit 'Edit!', class: 'btn btn-primary' %>
    <% end %>
</main>