<h1>ツイート一覧</h1>
<%= link_to 'new!', new_post_path, class: 'btn btn-primary' %>

<main id="posts-index">
	<ul>
		<% @posts.each do |post| %>
				<li>
					<%=link_to post_path(post)  do %>
                        <div><%= post.content %></div>
					<% end %>
				</li>
		<% end %>
	</ul>
</main>