<h1>Posts#show</h1>
<div class='nav justify-content-end'>
<%= link_to '最新のツイート', root_path, class: 'nav-link' %>
</div>

<%= @post.content %>

<%= link_to '編集', edit_post_path, class: 'btn btn-primary mr-3' %>
<%= link_to '削除', post_path, method: :delete, data: { confirm: '投稿を削除します。よろしいですか？'}, class: 'btn btn-danger' %>